# -*- coding: utf-8 -*-
# 工程预装模块
# 需要额外的python包，可直接在文件后面添加
# 请确保指定的包和版本号，可通过pip安装
requests==2.21.0
Scrapy==1.6.0
splash==3.3.1
selenium==3.141.0
scrapy-splash==0.7.2
sqlalchemy
nltk==3.4
MarkupSafe==1.1.1
mako==1.0.8
bs4==0.0.1
pymysql
HTMLParser==0.0.2
docx==0.2.4
python-docx==0.8.10
pyqt5
sip